/******************************************
/* CSS
/*******************************************/
/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
/*.display: none;*/
 
/* media queries and font sizing (responsiveness)*/

html {
  font-size: 62.5%;
  }
  
  body {
  font-size: 14px;
  font-size: 1.4rem;
  }
  
  h1 {
  font-size: 24px;
  font-size: 2.4rem;
  }

  p {

  }

.hidden {
 display: none;
}

html {
  background: url(../img/purpleFloat.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  color: white;
}

h1, h2{
  text-align: center;
  color: white;
  font-family: monospace;
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
 
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  font-family: monospace;
}

/* stretch pop ups */

#outer{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#inner{
  width: 75%;
  height: 50%;
  top: 25%;
  margin: 0 auto;
  position: relative;
  background:rgb(89, 159, 89);
}



/* display images */
img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-box-shadow: 10px 10px 16px #000000;
  -webkit-box-shadow: 10px 10px 16px #000000;
  box-shadow: 10px 10px 16px #000000;
  x-shadow: 10px 10px 16px #000000;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/


/* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:320px)  {
   

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  {  }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  {  }
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  {  }
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {  }
/* hi-res laptops and desktops */ 
@media (min-width:1281px) { }

